/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    color: #2c3a36;
    background-color: #8da9a1;
    font-family: "Red Hat Display", sans-serif;
}

a {
    text-decoration: none;
    color: #2c3a36;
}

h1 {
    color: #2c3a36;
}

/* Header styles */

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 99;
    background-color: #e2e9e7;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#menu {
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

/* Toggle navigation drop down */
nav {
    position: absolute;
    background-color: #e2e9e7;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 170%;
}


/* Main Content */
main {
    padding-top: 80px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(88, 116, 108, 0.3);
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.why-nurture {
    display: block;
    width: 100%;
    padding-top: 1rem;
}


/* Courses overview sections */
#courses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#courses div {
    flex-grow: 1;
    flex-basis: 150px;
}

#courses h3 {
    background-color: rgba(197, 211, 207, 1);
    padding: 10px;
}

.yoga-image {
    background-color: #2c3a36;
    background-image: url("../images/yoga-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
}

.mindfulness-image {
    background-color: #2c3a36;
    background-image: url("../images/yoga-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
}

.walking-image {
    background-color: #2c3a36;
    background-image: url("../images/walking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
}

.cbt-image {
    background-color: #2c3a36;
    background-image: url("../images/cbt-therapy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
}

.quit-smoking-image {
    background-color: #2c3a36;
    background-image: url("../images/stop-smoking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
}

/* Testimonial sections */
.testimonials {
    display:flex;
    flex-wrap: wrap;
}

.testimonial-title {
    margin-top: 10px;
    padding: 2%;
}

.testimonials div {
    justify-content: center;
    text-align: center;
    margin:1rem;
}

.testimonial-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    padding-top: 5%;
}

/* Footer styles */
footer {
    margin-top: auto;
}

#social-icons {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #e2e9e7;
}

#social-icons i {
    font-size: 160%;
    padding: 5%;
    color: #2c3a36;
}


/* Responsive design for tablet screens and higher */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        margin-right: 1.5rem;
        font-size: 1rem;
    }

    .nav-toggle-label {
        display: none
    }

    header h1 {
        font-size: 200%;
    }

    /* Main */
    main {
        padding-top: 100px;
    }

    /* Footer */
    #social-icons i {
        font-size: 200%;
    }

}

/* Responsive design for laptop screens and desktops */
@media screen and (min-width:1366px) {

    /* Header */

    header {
        font-size: 210%;
    }


}